/*STYLE TEXT*/
h3, h4, p, a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    background: rgb(129, 129, 129);
    border-radius: 5px;
    width: max-content;
}


/*HEADER*/
header{
    background-color: rgb(14, 14, 14);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.nav__complet {
    margin-top: -15px;
}

/*ESTILO UL HEADER*/
ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li{
    margin: 0 15px;
}
/*NAV-L*/
.nav_izq img{
    width: 150px;
    margin-top: -5px;
}

/*NAV-R*/
.nav_der{
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.nav{
    margin-top: 10px;
}

.nav_der img{
    width: 50px;
    opacity: 50%;
    border-radius: 100%;
}

/*TEXT STYLE HEADER*/
header a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-decoration: none;
}



/*FOOTER*/
footer{
    background-color: rgb(15, 15, 15);
    padding-right: 15px;
    margin-block-end: -15px;
}

footer li, a{
    font-size: 20px;
    list-style: none;
    text-decoration: underline;
}

.complet_footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block-end: 15px;
}

.complet_footer{
    display: flex;
    align-items: end;
    justify-content: center;
}

.footer_right img{
    width: 200px;
}

.footer_left p{
    margin-left: 0;
}

.footer_left, .footer_right{
    margin-top: 15px;
    margin-block-end: 15px;
}



/*BODY*/
body{
    background-color: rgb(70, 70, 70);
    margin: 0;
}



/*ARTICULO*/
.section{
    background-color: rgb(7, 7, 7);
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
    color: aliceblue;
}

img{
    width: 1200px;
}


/*ARTICLE*/
section .class__art{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-block-end: 15px;
    background-color: rgb(8, 8, 8);
    border-radius: 15px;
}

.class__art img, iframe{
    border-radius: 15px;
}

.class__section h2, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    width: 90%;
    margin-left: 50px;
}




/*PERFIL INFO*/

.container{
    background-color: rgb(14, 14, 14);
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-block-end: 15px;
}

/*EDIT STYLE TEXT PERFIL*/
.right_info{
    text-align: justify;
    width: 900px;
    
}

.right_info p{
    margin: 0;
}

.enlace a{
    font-size: 22px;
}

.container img{
    width: 150px;
    border-radius: 100%;
}

.avatar{
    display: grid;
    justify-items: center;
}



/*PUBLICACIONES*/
.articulos_publi{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    margin-top: 15px;
    margin-block-end: 100px;
}

.articulo{
    background-color: rgb(83, 83, 83);
    border-radius: 15px;
}

.info_art p{
    font-size: 100%;
    width: 100%;
}

.info_art h3{
    font-size: 20px;
}

.info_art{
    text-align: justify;
    margin-left: 20px;
}

.articulos_publi img{
    width: 100%;
    border-radius: 15px;
}




/*FORM POST*/
.form_subida{
    display: grid;
    justify-items: center;
    height: max-content;
    margin-top: 161px;
    margin-block-end: 161px;
}

.form_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 100px;
}

.sub_archivo, .txt_form{
    width: 400px;
    height: 150px;
    border-radius: 15px;
}

.txt_form{
    width: 500px;
}

.button_form{
    width: 125px;
    height: 50px;
    border-radius: 15px;
}

.form_2{
    margin-top: 85px;
}

.form_1 h3{
    font-size: 40px;
}

.title_form{
    border-bottom:solid 8px rgb(19, 19, 19);
    width: 265%;
    height: 50px;
}



/*POSTEOS*/
.posteos{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: justify;
}

.post_1, .post_0{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    display: flex;
    justify-content: center;
}

.post_0{
    display: grid;
    justify-items: center;
    padding-right: 800px;
}

.avatar_user{
    display: flex;
    align-items: center;
}

.avatar_user img{
    width: 70px;
    border-radius: 100%;
    margin-block-end: 20px;
}

.user_coment img{
    width: 40px;
}

.img_post img{
    width: 800px;
    border-radius: 15px;
}

.txt_post, .coment_style{
    background-color: rgb(8, 8, 8);
    border-radius: 15px;
}

.txt_coment, .user_coment{
    padding-left: 15px;
}

.txt_coment{
    margin-top: -40px;
}

.txt_coment p{
    border-bottom:solid 5px rgb(146, 146, 146);
    width: 95%;
    height: 25px;
}

.coment_style{
    margin-block-end: 15px;
    height: 400px;
}

.title_coment{
    border-bottom:solid 8px rgb(19, 19, 19);
    width: 100%;
    height: 25px;
    margin-block-end: 15px;
}

.add_coment{
    margin-left: 15px;
}

input{
    background-color: rgb(136, 136, 136);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    margin-bottom: 15px;
    justify-content: center;
}

.txt_zone{
    border-radius: 15px;
    width: 700px;
    height: 65px;
}

.coment_post{
    margin-left: 15px;
}